{% extends "base.html" %}
{% block content %}

<div class="iris_predictor">
    <h1>Welcome to prediction page!</h1>
    <p>Fill out the inputs below</p>
    <form action="{{url_for('thank_you')}}">
        <label for="sepal_length">Sepal Length : </label>
        <input type="text" name="sepal_length">
        <label for="sepal_width">Sepal Width : </label>
        <input type="text" name="sepal_width">
        <label for="petal_length">Petal Length : </label>
        <input type="text" name="petal_length">
        <label for="petal_width">Petal Width : </label>
        <input type="text" name="petal_width">
        <input type="submit" value="Predict Class">
    </form>
</div>
{% endblock %}